<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>F</key>
	<dict>
	    <key>g</key>
	    <integer>-15</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-171</integer>
	    <key>quotedblright</key>
	    <integer>-196</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>k</key>
	    <integer>-22</integer>
	    <key>h</key>
	    <integer>-28</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>x</key>
	    <integer>-17</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>quoteright</key>
	    <integer>34</integer>
	    <key>quotedblright</key>
	    <integer>38</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>g</key>
	    <integer>-9</integer>
	</dict>
    </dict>
</plist>
