<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.E</key>
	<array>
		<string>E'</string>
		<string>uni0204</string>
	</array>
	<key>.G</key>
	<array>
		<string>G'</string>
		<string>Gcommaaccent</string>
	</array>
	<key>.H</key>
	<array>
		<string>H'</string>
		<string>I</string>
		<string>M</string>
		<string>uni0208</string>
	</array>
	<key>.K</key>
	<array>
		<string>K'</string>
		<string>Kcommaaccent</string>
	</array>
	<key>.L</key>
	<array>
		<string>L'</string>
		<string>Lcommaaccent</string>
	</array>
	<key>.N</key>
	<array>
		<string>N'</string>
		<string>Ncommaaccent</string>
	</array>
	<key>.O</key>
	<array>
		<string>O'</string>
		<string>uni020C</string>
		<string>copyright</string>
		<string>registered</string>
	</array>
	<key>.R</key>
	<array>
		<string>R'</string>
		<string>uni0210</string>
		<string>Rcommaaccent</string>
	</array>
	<key>.S</key>
	<array>
		<string>S'</string>
		<string>Scommaaccent</string>
	</array>
	<key>.T</key>
	<array>
		<string>T'</string>
		<string>uni021A</string>
	</array>
	<key>.U</key>
	<array>
		<string>U'</string>
		<string>uni0214</string>
	</array>
	<key>.a</key>
	<array>
		<string>a'</string>
		<string>aring</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>amacron</string>
		<string>uni0201</string>
		<string>uni0203</string>
		<string>adieresis</string>
		<string>acircumflex</string>
	</array>
	<key>.c</key>
	<array>
		<string>c'</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>ccircumflex</string>
	</array>
	<key>.d</key>
	<array>
		<string>d'</string>
		<string>dcroat</string>
	</array>
	<key>.e</key>
	<array>
		<string>e'</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>uni0205</string>
		<string>uni0207</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>ecircumflex</string>
	</array>
	<key>.emdash</key>
	<array>
		<string>emdash'</string>
		<string>endash</string>
	</array>
	<key>.g</key>
	<array>
		<string>g'</string>
		<string>gbreve</string>
		<string>uni01F5</string>
		<string>gcedilla</string>
		<string>gdotaccent</string>
		<string>gcircumflex</string>
	</array>
	<key>.guillemotleft</key>
	<array>
		<string>guillemotleft'</string>
		<string>guilsinglleft</string>
	</array>
	<key>.guillemotright</key>
	<array>
		<string>guillemotright'</string>
		<string>guilsinglright</string>
	</array>
	<key>.h</key>
	<array>
		<string>h'</string>
		<string>hbar</string>
		<string>hcircumflex</string>
	</array>
	<key>.i</key>
	<array>
		<string>i'</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>igrave</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>uni0209</string>
		<string>uni020B</string>
		<string>dotlessi</string>
		<string>idieresis</string>
		<string>icircumflex</string>
	</array>
	<key>.j</key>
	<array>
		<string>j'</string>
		<string>uni0237</string>
		<string>jcircumflex</string>
	</array>
	<key>.k</key>
	<array>
		<string>k'</string>
		<string>kcommaaccent</string>
	</array>
	<key>.l</key>
	<array>
		<string>l'</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
	</array>
	<key>.n</key>
	<array>
		<string>n'</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>ncommaaccent</string>
	</array>
	<key>.o</key>
	<array>
		<string>o'</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>omacron</string>
		<string>uni020D</string>
		<string>uni020F</string>
		<string>odieresis</string>
		<string>ocircumflex</string>
	</array>
	<key>.period</key>
	<array>
		<string>period'</string>
		<string>ellipsis</string>
	</array>
	<key>.quotedbl</key>
	<array>
		<string>quotedbl'</string>
		<string>quoteleft</string>
		<string>quotesingle</string>
		<string>quotedblleft</string>
	</array>
	<key>.quotedblbase</key>
	<array>
		<string>quotedblbase'</string>
		<string>quotesinglbase</string>
	</array>
	<key>.quoteright</key>
	<array>
		<string>quoteright'</string>
		<string>quotedblright</string>
	</array>
	<key>.r</key>
	<array>
		<string>r'</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0211</string>
		<string>uni0213</string>
		<string>rcommaaccent</string>
	</array>
	<key>.ring.cap</key>
	<array>
		<string>ring.cap'</string>
		<string>acute.cap</string>
		<string>caron.cap</string>
		<string>grave.cap</string>
		<string>tilde.cap</string>
		<string>dieresis.cap</string>
		<string>circumflex.cap</string>
	</array>
	<key>.s</key>
	<array>
		<string>s'</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>.slash</key>
	<array>
		<string>slash'</string>
		<string>fraction</string>
	</array>
	<key>.t</key>
	<array>
		<string>t'</string>
		<string>uni021B</string>
	</array>
	<key>.u</key>
	<array>
		<string>u'</string>
		<string>uring</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ugrave</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>uni0215</string>
		<string>uni0217</string>
		<string>udieresis</string>
		<string>ucircumflex</string>
		<string>uhungarumlaut</string>
	</array>
	<key>.uni01C6</key>
	<array>
		<string>uni01C6'</string>
		<string>uni01F3</string>
	</array>
	<key>.uni0307</key>
	<array>
		<string>uni0307'</string>
		<string>dotaccent</string>
	</array>
	<key>.yacute</key>
	<array>
		<string>yacute'</string>
		<string>ydieresis</string>
	</array>
	<key>.z</key>
	<array>
		<string>z'</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_A_Left</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0200</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_L_B_Left</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_H_Left</key>
	<array>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O_Left</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_L_P_Left</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R_Left</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_L_S_Left</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T_Left</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_U_Left</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>uni0214</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_L_V_Left</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W_Left</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_X_Left</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y_Left</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_k_Left</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_n_Left</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o_Left</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_L_r_Left</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_L_t_Left</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_v_Left</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_w_Left</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_y_Left</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_A_Right</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0200</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_R_H_Right</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Thorn</string>
		<string>uni01F1</string>
		<string>uni0204</string>
		<string>uni0206</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_R_O_Right</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>uni01F4</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_R_S_Right</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T_Right</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_U_Right</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>uni0214</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_R_V_Right</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W_Right</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_Y_Right</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_a_Right</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0201</string>
		<string>uni0203</string>
	</array>
	<key>@MMK_R_n_Right</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_o_Right</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>q</string>
		<string>uni0205</string>
		<string>uni0207</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_R_u_Left</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0215</string>
		<string>uni0217</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_v_Left</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w_Left</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_y_Left</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
