<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-34</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-19</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-103</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-37</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-60</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-28</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-47</integer>
		<key>quotedblright</key>
		<integer>-80</integer>
		<key>quoteright</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_B_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_H_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_O_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-60</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-6</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-84</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-51</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-66</integer>
		<key>X</key>
		<integer>-58</integer>
	</dict>
	<key>@MMK_L_P_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-44</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-16</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-35</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-28</integer>
		<key>J</key>
		<integer>-66</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-90</integer>
		<key>r</key>
		<integer>-16</integer>
		<key>s</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_R_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-27</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-35</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-38</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-35</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-35</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-14</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-35</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-41</integer>
		<key>s</key>
		<integer>-13</integer>
	</dict>
	<key>@MMK_L_U_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-28</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-67</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-33</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-95</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-83</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-18</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>g</key>
		<integer>-60</integer>
		<key>s</key>
		<integer>-27</integer>
		<key>z</key>
		<integer>-28</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-33</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-29</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-44</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-36</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-17</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-13</integer>
		<key>g</key>
		<integer>-55</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-43</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-47</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-40</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-91</integer>
		<key>@MMK_R_n_Right</key>
		<integer>-44</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-71</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-38</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-24</integer>
		<key>g</key>
		<integer>-51</integer>
		<key>r</key>
		<integer>-23</integer>
		<key>s</key>
		<integer>-61</integer>
		<key>x</key>
		<integer>-34</integer>
		<key>z</key>
		<integer>-44</integer>
	</dict>
	<key>@MMK_L_k_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-29</integer>
	</dict>
	<key>@MMK_L_n_Left</key>
	<dict>
		<key>@MMK_R_u_Left</key>
		<integer>-4</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-27</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-7</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-18</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-44</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-26</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-13</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>l</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_r_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-11</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-13</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>g</key>
		<integer>-7</integer>
		<key>s</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_v_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-5</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-4</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-5</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-6</integer>
		<key>h</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-4</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-4</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-24</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-36</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-18</integer>
		<key>g</key>
		<integer>-20</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-14</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-26</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-18</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-14</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_T_Right</key>
		<integer>-53</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-8</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-86</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-62</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-74</integer>
		<key>quotedblright</key>
		<integer>-70</integer>
		<key>quoteright</key>
		<integer>-70</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-37</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-28</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-26</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>h</key>
		<integer>-8</integer>
		<key>k</key>
		<integer>-12</integer>
		<key>l</key>
		<integer>-9</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_y_Left</key>
		<integer>-13</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-15</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-26</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-27</integer>
		<key>b</key>
		<integer>-27</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-96</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-104</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>dotlessi</key>
		<integer>-94</integer>
		<key>f</key>
		<integer>-105</integer>
		<key>i</key>
		<integer>-57</integer>
		<key>l</key>
		<integer>-65</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-16</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-16</integer>
	</dict>
</dict>
</plist>
