<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1152</integer>
	<key>capHeight</key>
	<integer>1152</integer>
	<key>descender</key>
	<integer>-410</integer>
	<key>familyName</key>
	<string>Rokkitt</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueShift</key>
	<integer>0</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-22</integer>
		<integer>0</integer>
		<integer>804</integer>
		<integer>826</integer>
		<integer>1152</integer>
		<integer>1174</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>styleName</key>
	<string>Medium</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>xHeight</key>
	<integer>804</integer>
</dict>
</plist>
