<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-208</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-81</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-63</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-127</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-142</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-195</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-44</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-106</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-48</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-59</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-38</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-75</integer>
		<key>quotedblright</key>
		<integer>-120</integer>
		<key>quoteright</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_B_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-52</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-26</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-23</integer>
	</dict>
	<key>@MMK_L_H_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-30</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-66</integer>
	</dict>
	<key>@MMK_L_O_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-60</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-85</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-13</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-90</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-62</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-164</integer>
		<key>X</key>
		<integer>-73</integer>
	</dict>
	<key>@MMK_L_P_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-102</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-39</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-32</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-44</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-80</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-85</integer>
		<key>comma</key>
		<integer>-130</integer>
		<key>g</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-90</integer>
		<key>s</key>
		<integer>-34</integer>
	</dict>
	<key>@MMK_L_R_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-99</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-48</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-46</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-84</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-103</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-86</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-48</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-67</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-33</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-44</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-52</integer>
	</dict>
	<key>@MMK_L_S_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-33</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-11</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-39</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-29</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-46</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-20</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-59</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-116</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-56</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-21</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-37</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-60</integer>
		<key>g</key>
		<integer>-71</integer>
		<key>s</key>
		<integer>-66</integer>
		<key>x</key>
		<integer>-52</integer>
		<key>z</key>
		<integer>-112</integer>
	</dict>
	<key>@MMK_L_U_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-178</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-112</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-171</integer>
		<key>@MMK_R_n_Right</key>
		<integer>-40</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-166</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-99</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-44</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-50</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-105</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>g</key>
		<integer>-147</integer>
		<key>i</key>
		<integer>-75</integer>
		<key>p</key>
		<integer>-98</integer>
		<key>r</key>
		<integer>-44</integer>
		<key>s</key>
		<integer>-77</integer>
		<key>x</key>
		<integer>-143</integer>
		<key>z</key>
		<integer>-168</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-133</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-19</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-107</integer>
		<key>@MMK_R_n_Right</key>
		<integer>-60</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-143</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-48</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-71</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-29</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-96</integer>
		<key>g</key>
		<integer>-111</integer>
		<key>i</key>
		<integer>-48</integer>
		<key>p</key>
		<integer>-54</integer>
		<key>r</key>
		<integer>-33</integer>
		<key>s</key>
		<integer>-106</integer>
		<key>x</key>
		<integer>-74</integer>
		<key>z</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_H_Right</key>
		<integer>-66</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-63</integer>
	</dict>
	<key>@MMK_L_k_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-68</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-71</integer>
		<key>g</key>
		<integer>-58</integer>
	</dict>
	<key>@MMK_L_n_Left</key>
	<dict>
		<key>@MMK_R_u_Left</key>
		<integer>-14</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-52</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-47</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-15</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-61</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-38</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-58</integer>
		<key>b</key>
		<integer>-16</integer>
		<key>g</key>
		<integer>-43</integer>
		<key>l</key>
		<integer>-16</integer>
		<key>x</key>
		<integer>-54</integer>
	</dict>
	<key>@MMK_L_r_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-78</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-83</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-13</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-19</integer>
		<key>g</key>
		<integer>-70</integer>
		<key>k</key>
		<integer>-22</integer>
		<key>l</key>
		<integer>-29</integer>
		<key>s</key>
		<integer>-23</integer>
	</dict>
	<key>@MMK_L_t_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-22</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-62</integer>
		<key>g</key>
		<integer>-34</integer>
	</dict>
	<key>@MMK_L_v_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-46</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-48</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-45</integer>
		<key>h</key>
		<integer>-55</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-50</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-57</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-34</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-31</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-53</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-37</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-58</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-114</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-63</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-32</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-63</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-102</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-30</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-49</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-34</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-61</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-16</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-40</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-36</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-16</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-27</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-239</integer>
		<key>@MMK_R_S_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-56</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-67</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-96</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-78</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-82</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-128</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-110</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-136</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-86</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-104</integer>
		<key>X</key>
		<integer>-44</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-148</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-133</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-112</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-237</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-136</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-170</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-89</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-77</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-37</integer>
		<key>X</key>
		<integer>-69</integer>
		<key>quotedblright</key>
		<integer>-190</integer>
		<key>quoteright</key>
		<integer>-100</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-26</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-45</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-16</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-12</integer>
		<key>g</key>
		<integer>-26</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-56</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-43</integer>
		<key>h</key>
		<integer>-92</integer>
		<key>k</key>
		<integer>-44</integer>
		<key>l</key>
		<integer>-41</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-48</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-36</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-7</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-22</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-17</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-22</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-12</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-13</integer>
		<key>b</key>
		<integer>-24</integer>
		<key>g</key>
		<integer>-8</integer>
		<key>x</key>
		<integer>-37</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-39</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-87</integer>
		<key>f</key>
		<integer>-97</integer>
		<key>quotedblright</key>
		<integer>90</integer>
		<key>quoteright</key>
		<integer>80</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-15</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-27</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-29</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-58</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-54</integer>
	</dict>
</dict>
</plist>
