<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>F</key>
	<dict>
	    <key>period</key>
	    <integer>-60</integer>
	    <key>g</key>
	    <integer>-20</integer>
	    <key>comma</key>
	    <integer>-60</integer>
	</dict>
	<key>G</key>
	<dict>
	    <key>X</key>
	    <integer>-20</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>X</key>
	    <integer>-44</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-100</integer>
	    <key>quotedblright</key>
	    <integer>-190</integer>
	    <key>X</key>
	    <integer>-69</integer>
	</dict>
	<key>a</key>
	<dict>
	    <key>g</key>
	    <integer>-26</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>l</key>
	    <integer>-41</integer>
	    <key>k</key>
	    <integer>-44</integer>
	    <key>h</key>
	    <integer>-92</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>x</key>
	    <integer>-37</integer>
	    <key>g</key>
	    <integer>-8</integer>
	    <key>b</key>
	    <integer>-24</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>quoteright</key>
	    <integer>80</integer>
	    <key>quotedblright</key>
	    <integer>90</integer>
	    <key>f</key>
	    <integer>-97</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>g</key>
	    <integer>-15</integer>
	</dict>
    </dict>
</plist>
