<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>A</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
	<key>Aacute</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
	<key>Abreve</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
	<key>Agrave</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
	<key>Amacron</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
	<key>Aring</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
	<key>Atilde</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
	<key>C</key>
	<dict>
	    <key>period</key>
	    <integer>-113</integer>
	    <key>comma</key>
	    <integer>-115</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>uni0202</key>
	    <integer>-81</integer>
	    <key>Atilde</key>
	    <integer>-81</integer>
	    <key>Aring</key>
	    <integer>-81</integer>
	    <key>Aogonek</key>
	    <integer>-81</integer>
	    <key>Amacron</key>
	    <integer>-81</integer>
	    <key>Agrave</key>
	    <integer>-81</integer>
	    <key>Adieresis</key>
	    <integer>-81</integer>
	    <key>Acircumflex</key>
	    <integer>-81</integer>
	    <key>Abreve</key>
	    <integer>-81</integer>
	    <key>Aacute</key>
	    <integer>-81</integer>
	    <key>A</key>
	    <integer>-81</integer>
	    <key>period</key>
	    <integer>-172</integer>
	    <key>comma</key>
	    <integer>-176</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>r</key>
	    <integer>-74</integer>
	    <key>period</key>
	    <integer>-246</integer>
	    <key>i</key>
	    <integer>-39</integer>
	    <key>comma</key>
	    <integer>-251</integer>
	</dict>
	<key>G</key>
	<dict>
	    <key>period</key>
	    <integer>-137</integer>
	    <key>comma</key>
	    <integer>-139</integer>
	</dict>
	<key>J</key>
	<dict>
	    <key>period</key>
	    <integer>-106</integer>
	    <key>comma</key>
	    <integer>-102</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-41</integer>
	    <key>otilde</key>
	    <integer>-41</integer>
	    <key>ograve</key>
	    <integer>-41</integer>
	    <key>odieresis</key>
	    <integer>-41</integer>
	    <key>ocircumflex</key>
	    <integer>-41</integer>
	    <key>oacute</key>
	    <integer>-41</integer>
	    <key>o</key>
	    <integer>-48</integer>
	    <key>Ccedilla</key>
	    <integer>-70</integer>
	    <key>Ccaron</key>
	    <integer>-70</integer>
	    <key>Cacute</key>
	    <integer>-70</integer>
	    <key>C</key>
	    <integer>-70</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>quotesingle</key>
	    <integer>-414</integer>
	    <key>quoteright</key>
	    <integer>-190</integer>
	    <key>quotedblright</key>
	    <integer>-160</integer>
	    <key>quotedbl</key>
	    <integer>-414</integer>
	</dict>
	<key>Q</key>
	<dict>
	    <key>period</key>
	    <integer>-158</integer>
	    <key>comma</key>
	    <integer>-129</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>ocircumflex</key>
	    <integer>-104</integer>
	    <key>G</key>
	    <integer>-55</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>odieresis</key>
	    <integer>-86</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-98</integer>
	</dict>
	<key>Yacute</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-98</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-98</integer>
	</dict>
	<key>a</key>
	<dict>
	    <key>t</key>
	    <integer>-29</integer>
	    <key>g</key>
	    <integer>-23</integer>
	    <key>b</key>
	    <integer>-53</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>period</key>
	    <integer>-33</integer>
	    <key>l</key>
	    <integer>-43</integer>
	    <key>k</key>
	    <integer>-46</integer>
	    <key>h</key>
	    <integer>-46</integer>
	    <key>comma</key>
	    <integer>-35</integer>
	</dict>
	<key>d</key>
	<dict>
	    <key>d</key>
	    <integer>-39</integer>
	</dict>
	<key>e</key>
	<dict>
	    <key>x</key>
	    <integer>-19</integer>
	    <key>period</key>
	    <integer>-27</integer>
	    <key>comma</key>
	    <integer>-31</integer>
	    <key>b</key>
	    <integer>-27</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-18</integer>
	    <key>period</key>
	    <integer>-39</integer>
	    <key>otilde</key>
	    <integer>-18</integer>
	    <key>ograve</key>
	    <integer>-18</integer>
	    <key>odieresis</key>
	    <integer>-18</integer>
	    <key>ocircumflex</key>
	    <integer>-18</integer>
	    <key>oacute</key>
	    <integer>-18</integer>
	    <key>o</key>
	    <integer>-18</integer>
	    <key>comma</key>
	    <integer>-33</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>period</key>
	    <integer>-104</integer>
	    <key>g</key>
	    <integer>-24</integer>
	    <key>comma</key>
	    <integer>-98</integer>
	</dict>
	<key>k</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-78</integer>
	    <key>otilde</key>
	    <integer>-78</integer>
	    <key>ograve</key>
	    <integer>-78</integer>
	    <key>odieresis</key>
	    <integer>-78</integer>
	    <key>ocircumflex</key>
	    <integer>-78</integer>
	    <key>oacute</key>
	    <integer>-78</integer>
	    <key>o</key>
	    <integer>-61</integer>
	</dict>
	<key>kcommaaccent</key>
	<dict>
	    <key>uni020F</key>
	    <integer>-78</integer>
	    <key>otilde</key>
	    <integer>-78</integer>
	    <key>ograve</key>
	    <integer>-78</integer>
	    <key>odieresis</key>
	    <integer>-78</integer>
	    <key>ocircumflex</key>
	    <integer>-78</integer>
	    <key>oacute</key>
	    <integer>-78</integer>
	    <key>o</key>
	    <integer>-78</integer>
	</dict>
	<key>m</key>
	<dict>
	    <key>uni0217</key>
	    <integer>-53</integer>
	    <key>ugrave</key>
	    <integer>-53</integer>
	    <key>udieresis</key>
	    <integer>-53</integer>
	    <key>ucircumflex</key>
	    <integer>-53</integer>
	    <key>uacute</key>
	    <integer>-53</integer>
	    <key>u</key>
	    <integer>-53</integer>
	</dict>
	<key>o</key>
	<dict>
	    <key>m</key>
	    <integer>-20</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
	    <key>t</key>
	    <integer>-59</integer>
	    <key>quotesingle</key>
	    <integer>-49</integer>
	    <key>quotedbl</key>
	    <integer>-49</integer>
	    <key>l</key>
	    <integer>-14</integer>
	    <key>d</key>
	    <integer>-303</integer>
	</dict>
	<key>s</key>
	<dict>
	    <key>period</key>
	    <integer>-23</integer>
	    <key>comma</key>
	    <integer>-23</integer>
	</dict>
	<key>uni0202</key>
	<dict>
	    <key>q</key>
	    <integer>-23</integer>
	    <key>ograve</key>
	    <integer>-31</integer>
	    <key>cacute</key>
	    <integer>-33</integer>
	    <key>Q</key>
	    <integer>-66</integer>
	</dict>
    </dict>
</plist>
