<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-93</integer>
		<key>@MMK_R_T_Right</key>
		<integer>-97</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-68</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-78</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-173</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-119</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-30</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-52</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-89</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-113</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-69</integer>
		<key>quotedblright</key>
		<integer>-130</integer>
		<key>quoteright</key>
		<integer>-110</integer>
	</dict>
	<key>@MMK_L_B_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-46</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-13</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-21</integer>
	</dict>
	<key>@MMK_L_H_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_O_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-46</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-14</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-40</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-64</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-104</integer>
		<key>X</key>
		<integer>-58</integer>
		<key>comma</key>
		<integer>0</integer>
		<key>period</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_P_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-74</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_R_Left</key>
	<dict>
		<key>@MMK_R_O_Right</key>
		<integer>-16</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-33</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-53</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-35</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-44</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-13</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-10</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_T_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-23</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-18</integer>
	</dict>
	<key>@MMK_L_U_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-31</integer>
		<key>comma</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_V_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-82</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-52</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-26</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-32</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-26</integer>
		<key>G</key>
		<integer>-55</integer>
		<key>comma</key>
		<integer>-90</integer>
		<key>g</key>
		<integer>-26</integer>
		<key>ocircumflex</key>
		<integer>-104</integer>
		<key>period</key>
		<integer>-90</integer>
		<key>s</key>
		<integer>-11</integer>
	</dict>
	<key>@MMK_L_W_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-143</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-36</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-33</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-56</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-50</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-23</integer>
		<key>comma</key>
		<integer>-130</integer>
		<key>g</key>
		<integer>-57</integer>
		<key>hyphen</key>
		<integer>-130</integer>
		<key>odieresis</key>
		<integer>-86</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>s</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_Y_Left</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-136</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-54</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-28</integer>
		<key>@MMK_R_n_Right</key>
		<integer>-90</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-77</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-37</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>g</key>
		<integer>-103</integer>
		<key>hyphen</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-49</integer>
		<key>uni020F</key>
		<integer>-98</integer>
	</dict>
	<key>@MMK_L_k_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-4</integer>
	</dict>
	<key>@MMK_L_n_Left</key>
	<dict>
		<key>@MMK_R_u_Left</key>
		<integer>-31</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-41</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-57</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_o_Left</key>
	<dict>
		<key>@MMK_R_n_Right</key>
		<integer>0</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-4</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-39</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-16</integer>
		<key>x</key>
		<integer>-26</integer>
	</dict>
	<key>@MMK_L_r_Left</key>
	<dict>
		<key>comma</key>
		<integer>-90</integer>
		<key>period</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_t_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-8</integer>
	</dict>
	<key>@MMK_L_v_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-12</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-110</integer>
		<key>period</key>
		<integer>-120</integer>
	</dict>
	<key>@MMK_L_w_Left</key>
	<dict>
		<key>@MMK_R_a_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-33</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>h</key>
		<integer>-43</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_y_Left</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-8</integer>
		<key>comma</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-90</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-32</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-115</integer>
		<key>period</key>
		<integer>-113</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-91</integer>
		<key>Aacute</key>
		<integer>-81</integer>
		<key>Abreve</key>
		<integer>-81</integer>
		<key>Acircumflex</key>
		<integer>-81</integer>
		<key>Adieresis</key>
		<integer>-81</integer>
		<key>Agrave</key>
		<integer>-81</integer>
		<key>Amacron</key>
		<integer>-81</integer>
		<key>Aogonek</key>
		<integer>-81</integer>
		<key>Aring</key>
		<integer>-81</integer>
		<key>Atilde</key>
		<integer>-81</integer>
		<key>comma</key>
		<integer>-176</integer>
		<key>period</key>
		<integer>-172</integer>
		<key>uni0202</key>
		<integer>-81</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-69</integer>
		<key>comma</key>
		<integer>-211</integer>
		<key>i</key>
		<integer>-39</integer>
		<key>period</key>
		<integer>-206</integer>
		<key>r</key>
		<integer>-42</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-21</integer>
		<key>comma</key>
		<integer>-139</integer>
		<key>period</key>
		<integer>-137</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>comma</key>
		<integer>-22</integer>
		<key>period</key>
		<integer>-26</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_A_Right</key>
		<integer>-40</integer>
		<key>@MMK_R_O_Right</key>
		<integer>-146</integer>
		<key>@MMK_R_S_Right</key>
		<integer>-27</integer>
		<key>@MMK_R_U_Right</key>
		<integer>-36</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-21</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-68</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-34</integer>
		<key>@MMK_R_a_Right</key>
		<integer>-24</integer>
		<key>@MMK_R_o_Right</key>
		<integer>-42</integer>
		<key>@MMK_R_u_Left</key>
		<integer>-64</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-84</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-104</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-58</integer>
		<key>C</key>
		<integer>-70</integer>
		<key>Cacute</key>
		<integer>-70</integer>
		<key>Ccaron</key>
		<integer>-70</integer>
		<key>Ccedilla</key>
		<integer>-70</integer>
		<key>X</key>
		<integer>-31</integer>
		<key>o</key>
		<integer>-48</integer>
		<key>oacute</key>
		<integer>-41</integer>
		<key>ocircumflex</key>
		<integer>-41</integer>
		<key>odieresis</key>
		<integer>-41</integer>
		<key>ograve</key>
		<integer>-41</integer>
		<key>otilde</key>
		<integer>-41</integer>
		<key>uni020F</key>
		<integer>-41</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_T_Right</key>
		<integer>-72</integer>
		<key>@MMK_R_V_Right</key>
		<integer>-108</integer>
		<key>@MMK_R_W_Right</key>
		<integer>-104</integer>
		<key>@MMK_R_Y_Right</key>
		<integer>-111</integer>
		<key>quotedbl</key>
		<integer>-414</integer>
		<key>quotedblright</key>
		<integer>-200</integer>
		<key>quoteright</key>
		<integer>-190</integer>
		<key>quotesingle</key>
		<integer>-414</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>comma</key>
		<integer>-139</integer>
		<key>period</key>
		<integer>-148</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-35</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-49</integer>
		<key>b</key>
		<integer>-53</integer>
		<key>g</key>
		<integer>-23</integer>
		<key>t</key>
		<integer>-29</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_y_Left</key>
		<integer>-27</integer>
		<key>comma</key>
		<integer>-35</integer>
		<key>h</key>
		<integer>-46</integer>
		<key>k</key>
		<integer>-46</integer>
		<key>period</key>
		<integer>-33</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>0</integer>
		<key>@MMK_R_v_Left</key>
		<integer>-20</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-27</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-21</integer>
		<key>d</key>
		<integer>-10</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>@MMK_R_v_Left</key>
		<integer>-15</integer>
		<key>@MMK_R_w_Left</key>
		<integer>-21</integer>
		<key>@MMK_R_y_Left</key>
		<integer>-26</integer>
		<key>b</key>
		<integer>-27</integer>
		<key>comma</key>
		<integer>-31</integer>
		<key>period</key>
		<integer>-27</integer>
		<key>x</key>
		<integer>-31</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>0</integer>
		<key>comma</key>
		<integer>-33</integer>
		<key>o</key>
		<integer>-6</integer>
		<key>oacute</key>
		<integer>-18</integer>
		<key>ocircumflex</key>
		<integer>-18</integer>
		<key>odieresis</key>
		<integer>-18</integer>
		<key>ograve</key>
		<integer>-18</integer>
		<key>otilde</key>
		<integer>-18</integer>
		<key>period</key>
		<integer>-39</integer>
		<key>uni020F</key>
		<integer>-18</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>comma</key>
		<integer>-48</integer>
		<key>g</key>
		<integer>-24</integer>
		<key>period</key>
		<integer>-54</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>o</key>
		<integer>-7</integer>
		<key>oacute</key>
		<integer>-78</integer>
		<key>ocircumflex</key>
		<integer>-78</integer>
		<key>odieresis</key>
		<integer>-78</integer>
		<key>ograve</key>
		<integer>-78</integer>
		<key>otilde</key>
		<integer>-78</integer>
		<key>uni020F</key>
		<integer>-78</integer>
	</dict>
	<key>kcommaaccent</key>
	<dict>
		<key>o</key>
		<integer>-78</integer>
		<key>oacute</key>
		<integer>-78</integer>
		<key>ocircumflex</key>
		<integer>-78</integer>
		<key>odieresis</key>
		<integer>-78</integer>
		<key>ograve</key>
		<integer>-78</integer>
		<key>otilde</key>
		<integer>-78</integer>
		<key>uni020F</key>
		<integer>-78</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>u</key>
		<integer>-42</integer>
		<key>uacute</key>
		<integer>-53</integer>
		<key>ucircumflex</key>
		<integer>-53</integer>
		<key>udieresis</key>
		<integer>-53</integer>
		<key>ugrave</key>
		<integer>-53</integer>
		<key>uni0217</key>
		<integer>-53</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>m</key>
		<integer>-20</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>0</integer>
		<key>d</key>
		<integer>-303</integer>
		<key>l</key>
		<integer>-14</integer>
		<key>quotedbl</key>
		<integer>-49</integer>
		<key>quotesingle</key>
		<integer>-49</integer>
		<key>t</key>
		<integer>-59</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>@MMK_R_w_Left</key>
		<integer>-45</integer>
		<key>comma</key>
		<integer>-23</integer>
		<key>period</key>
		<integer>-23</integer>
	</dict>
	<key>uni0202</key>
	<dict>
		<key>Q</key>
		<integer>-66</integer>
		<key>cacute</key>
		<integer>-33</integer>
		<key>ograve</key>
		<integer>-31</integer>
		<key>q</key>
		<integer>-23</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o_Right</key>
		<integer>-17</integer>
	</dict>
</dict>
</plist>
