<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>g</key>
		<integer>-10</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>quotedblright</key>
		<integer>-251</integer>
		<key>quoteright</key>
		<integer>-205</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>h</key>
		<integer>-34</integer>
		<key>k</key>
		<integer>-28</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>x</key>
		<integer>-22</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>quotedblright</key>
		<integer>44</integer>
		<key>quoteright</key>
		<integer>37</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>-6</integer>
	</dict>
</dict>
</plist>
