<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    <key>com.typesupply.MetricsMachine4.groupColors</key>
    <key>@MMK_L_U_Left</key>
      <array>
              </array>
    <key>@MMK_L_X_Left</key>
      <array>
              </array>
    <key>@MMK_L_V_Left</key>
      <array>
              </array>
    <key>@MMK_L_t_Left</key>
      <array>
              </array>
    <key>@MMK_R_n_Right</key>
      <array>
              </array>
    <key>@MMK_R_w_Left</key>
      <array>
              </array>
    <key>@MMK_R_v_Left</key>
      <array>
              </array>
    <key>@MMK_R_A_Right</key>
      <array>
              </array>
    <key>@MMK_R_o_Right</key>
      <array>
              </array>
    <key>@MMK_R_y_Left</key>
      <array>
              </array>
    <key>@MMK_L_A_Left</key>
      <array>
              </array>
    <key>@MMK_L_T_Left</key>
      <array>
              </array>
    <key>@MMK_L_w_Left</key>
      <array>
              </array>
    <key>@MMK_L_B_Left</key>
      <array>
              </array>
    <key>@MMK_R_a_Right</key>
      <array>
              </array>
    <key>@MMK_R_O_Right</key>
      <array>
              </array>
    <key>@MMK_L_S_Left</key>
      <array>
              </array>
    <key>@MMK_L_n_Left</key>
      <array>
              </array>
    <key>@MMK_L_y_Left</key>
      <array>
              </array>
    <key>@MMK_L_W_Left</key>
      <array>
              </array>
    <key>@MMK_R_T_Right</key>
      <array>
              </array>
    <key>@MMK_R_W_Right</key>
      <array>
              </array>
    <key>@MMK_R_H_Right</key>
      <array>
              </array>
    <key>@MMK_L_r_Left</key>
      <array>
              </array>
    <key>@MMK_R_Y_Right</key>
      <array>
              </array>
    <key>@MMK_L_Y_Left</key>
      <array>
              </array>
    <key>@MMK_L_o_Left</key>
      <array>
              </array>
    <key>@MMK_R_V_Right</key>
      <array>
              </array>
    <key>@MMK_L_v_Left</key>
      <array>
              </array>
    <key>@MMK_R_S_Right</key>
      <array>
              </array>
    <key>@MMK_R_u_Left</key>
      <array>
              </array>
    <key>@MMK_L_H_Left</key>
      <array>
              </array>
    <key>@MMK_L_k_Left</key>
      <array>
              </array>
    <key>@MMK_R_U_Right</key>
      <array>
              </array>
    <key>@MMK_L_R_Left</key>
      <array>
              </array>
    <key>@MMK_L_P_Left</key>
      <array>
              </array>
    <key>@MMK_L_O_Left</key>
      <array>
              </array>
    </dict>
</plist>
