<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_A</key>
	<array>
		<string>A'</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
	</array>
	<key>_B</key>
	<array>
		<string>B'</string>
		<string>E</string>
		<string>F</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>P</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Lslash</string>
	</array>
	<key>_C</key>
	<array>
		<string>C'</string>
		<string>Ccedilla</string>
	</array>
	<key>_C1</key>
	<array>
		<string>C'</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ccedilla</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>OE</string>
	</array>
	<key>_D</key>
	<array>
		<string>D'</string>
		<string>Eth</string>
	</array>
	<key>_D1</key>
	<array>
		<string>D'</string>
		<string>R</string>
		<string>Eth</string>
	</array>
	<key>_E</key>
	<array>
		<string>E'</string>
		<string>AE</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>OE</string>
	</array>
	<key>_H</key>
	<array>
		<string>H'</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
	</array>
	<key>_L</key>
	<array>
		<string>L'</string>
		<string>Lslash</string>
	</array>
	<key>_N</key>
	<array>
		<string>N'</string>
		<string>Ntilde</string>
	</array>
	<key>_O</key>
	<array>
		<string>O'</string>
		<string>Q</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
	</array>
	<key>_S</key>
	<array>
		<string>S'</string>
		<string>Scaron</string>
		<string>uni0218</string>
	</array>
	<key>_T</key>
	<array>
		<string>T'</string>
		<string>uni021A</string>
	</array>
	<key>_U</key>
	<array>
		<string>U'</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
	</array>
	<key>_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_Z</key>
	<array>
		<string>Z'</string>
		<string>Zcaron</string>
	</array>
	<key>_a</key>
	<array>
		<string>a'</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
	</array>
	<key>_a1</key>
	<array>
		<string>a'</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
	</array>
	<key>_b</key>
	<array>
		<string>b'</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>lslash</string>
	</array>
	<key>_b1</key>
	<array>
		<string>b'</string>
		<string>o</string>
		<string>p</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>thorn</string>
	</array>
	<key>_c</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
	</array>
	<key>_c1</key>
	<array>
		<string>c'</string>
		<string>d</string>
		<string>e</string>
		<string>g</string>
		<string>o</string>
		<string>q</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>oe</string>
	</array>
	<key>_comma</key>
	<array>
		<string>comma'</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>_comma1</key>
	<array>
		<string>comma'</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>ellipsis</string>
	</array>
	<key>_e</key>
	<array>
		<string>e'</string>
		<string>ae</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>oe</string>
	</array>
	<key>_f</key>
	<array>
		<string>f'</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>_guillemotleft</key>
	<array>
		<string>guillemotleft'</string>
		<string>guilsinglleft</string>
	</array>
	<key>_guillemotright</key>
	<array>
		<string>guillemotright'</string>
		<string>guilsinglright</string>
	</array>
	<key>_h</key>
	<array>
		<string>h'</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>_hyphen</key>
	<array>
		<string>hyphen'</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>_i</key>
	<array>
		<string>i'</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>dotlessi</string>
	</array>
	<key>_i1</key>
	<array>
		<string>i'</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>dotlessi</string>
		<string>fi</string>
	</array>
	<key>_l</key>
	<array>
		<string>l'</string>
		<string>lslash</string>
		<string>fl</string>
	</array>
	<key>_m</key>
	<array>
		<string>m'</string>
		<string>n</string>
		<string>r</string>
		<string>ntilde</string>
	</array>
	<key>_numbersign</key>
	<array>
		<string>numbersign'</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>J</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>j</string>
		<string>p</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>overscore</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>middot.001</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>AE</string>
		<string>multiply</string>
		<string>germandbls</string>
		<string>eth</string>
		<string>divide</string>
		<string>thorn</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Aogonek</string>
		<string>aogonek</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcaron</string>
		<string>dcaron</string>
		<string>Dcroat</string>
		<string>dslash</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Ecaron</string>
		<string>ecaron</string>
		<string>hbar</string>
		<string>Itilde</string>
		<string>itilde</string>
		<string>IJ</string>
		<string>ij</string>
		<string>Jcircumflex</string>
		<string>jcircumflex</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>Ldotaccent</string>
		<string>ldot</string>
		<string>Nacute</string>
		<string>nacute</string>
		<string>Ncaron</string>
		<string>ncaron</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>Racute</string>
		<string>racute</string>
		<string>Rcommaaccent</string>
		<string>rcommaaccent</string>
		<string>Rcaron</string>
		<string>rcaron</string>
		<string>Sacute</string>
		<string>sacute</string>
		<string>Scircumflex</string>
		<string>scircumflex</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Tcommaaccent</string>
		<string>tcommaaccent</string>
		<string>Tcaron</string>
		<string>tcaron</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Uhungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Zacute</string>
		<string>zacute</string>
		<string>Zdotaccent</string>
		<string>zdotaccent</string>
		<string>florin</string>
		<string>uni0200</string>
		<string>uni0201</string>
		<string>uni0202</string>
		<string>uni0203</string>
		<string>uni0204</string>
		<string>uni0205</string>
		<string>uni0206</string>
		<string>uni0207</string>
		<string>uni0208</string>
		<string>uni0209</string>
		<string>uni020A</string>
		<string>uni020B</string>
		<string>uni020C</string>
		<string>uni020D</string>
		<string>uni020E</string>
		<string>uni020F</string>
		<string>uni0210</string>
		<string>uni0211</string>
		<string>uni0212</string>
		<string>uni0213</string>
		<string>uni0214</string>
		<string>uni0215</string>
		<string>uni0216</string>
		<string>uni0217</string>
		<string>dotlessj</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>dotaccentcmb</string>
		<string>uni030F</string>
		<string>uni0311</string>
		<string>uni0326</string>
		<string>uni03A9</string>
		<string>pi</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>perthousand</string>
		<string>fraction</string>
		<string>foursuperior</string>
		<string>Euro</string>
		<string>trademark</string>
		<string>partialdiff</string>
		<string>increment</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>lozenge</string>
		<string>uniF8FF</string>
	</array>
	<key>_numbersign1</key>
	<array>
		<string>numbersign'</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>B</string>
		<string>F</string>
		<string>G</string>
		<string>J</string>
		<string>K</string>
		<string>M</string>
		<string>P</string>
		<string>R</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>d</string>
		<string>f</string>
		<string>g</string>
		<string>j</string>
		<string>k</string>
		<string>q</string>
		<string>r</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>uni00A0</string>
		<string>exclamdown</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>ordfeminine</string>
		<string>logicalnot</string>
		<string>uni00AD</string>
		<string>registered</string>
		<string>overscore</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>acute</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>middot.001</string>
		<string>cedilla</string>
		<string>onesuperior</string>
		<string>ordmasculine</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>questiondown</string>
		<string>multiply</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>eth</string>
		<string>divide</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Aogonek</string>
		<string>aogonek</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcaron</string>
		<string>dcaron</string>
		<string>Dcroat</string>
		<string>dslash</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Ecaron</string>
		<string>ecaron</string>
		<string>hbar</string>
		<string>Itilde</string>
		<string>itilde</string>
		<string>IJ</string>
		<string>ij</string>
		<string>Jcircumflex</string>
		<string>jcircumflex</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>Ldotaccent</string>
		<string>ldot</string>
		<string>Nacute</string>
		<string>nacute</string>
		<string>Ncaron</string>
		<string>ncaron</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>Racute</string>
		<string>racute</string>
		<string>Rcommaaccent</string>
		<string>rcommaaccent</string>
		<string>Rcaron</string>
		<string>rcaron</string>
		<string>Sacute</string>
		<string>sacute</string>
		<string>Scircumflex</string>
		<string>scircumflex</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Tcommaaccent</string>
		<string>tcommaaccent</string>
		<string>Tcaron</string>
		<string>tcaron</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Uhungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Zacute</string>
		<string>zacute</string>
		<string>Zdotaccent</string>
		<string>zdotaccent</string>
		<string>florin</string>
		<string>uni0200</string>
		<string>uni0201</string>
		<string>uni0202</string>
		<string>uni0203</string>
		<string>uni0204</string>
		<string>uni0205</string>
		<string>uni0206</string>
		<string>uni0207</string>
		<string>uni0208</string>
		<string>uni0209</string>
		<string>uni020A</string>
		<string>uni020B</string>
		<string>uni020C</string>
		<string>uni020D</string>
		<string>uni020E</string>
		<string>uni020F</string>
		<string>uni0210</string>
		<string>uni0211</string>
		<string>uni0212</string>
		<string>uni0213</string>
		<string>uni0214</string>
		<string>uni0215</string>
		<string>uni0216</string>
		<string>uni0217</string>
		<string>dotlessj</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>dotaccentcmb</string>
		<string>uni030F</string>
		<string>uni0311</string>
		<string>uni0326</string>
		<string>uni03A9</string>
		<string>pi</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>fraction</string>
		<string>foursuperior</string>
		<string>Euro</string>
		<string>trademark</string>
		<string>partialdiff</string>
		<string>increment</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>lozenge</string>
		<string>uniF8FF</string>
	</array>
	<key>_quotedbl</key>
	<array>
		<string>quotedbl'</string>
		<string>quotesingle</string>
	</array>
	<key>_quoteleft</key>
	<array>
		<string>quoteleft'</string>
		<string>quotedblleft</string>
	</array>
	<key>_quoteright</key>
	<array>
		<string>quoteright'</string>
		<string>quotedblright</string>
	</array>
	<key>_s</key>
	<array>
		<string>s'</string>
		<string>scaron</string>
		<string>uni0219</string>
	</array>
	<key>_t</key>
	<array>
		<string>t'</string>
		<string>uni021B</string>
	</array>
	<key>_u</key>
	<array>
		<string>u'</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
	</array>
	<key>_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>_z</key>
	<array>
		<string>z'</string>
		<string>zcaron</string>
	</array>
</dict>
</plist>
